/* Your styles goes here */

.notification-off{
    display: none;
}

#message{
    color: red;
}

.activeBtn{
    color: rgb(52, 183, 248);
}

.container{
    display: flex;
    align-items: center;
    color: rgb(52, 183, 248);
}

.deleteIcon{
    margin-left: auto;
}

#newAction{
    width: 95%;
    height: 40px;
}


